<%- ejsVisualizerHelper(__filename) %>
<footer>© <%- app.getYear -%> Coded by <a href="https://github.com/drozerah" target="_blank" rel="noopener noreferrer">Drozerah</a> <img id="github" src="./img/github.svg"> ><span class="blink">_</span>Full Stack JavaScript DEV.</footer>
<%- ejsVisualizerHelper() %>